alias cat="bat"
alias satis="ssh fuchikoma 'alfons run_satis_build' && notify-send 'Satis build is finished!'"

alias z=' zz'

# PHP
alias phpunit="vendor/bin/phpunit"
alias a="php artisan"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload -o"
alias hostfile="sudo vim /etc/hosts"
alias mfs='php artisan migrate:fresh --seed'
alias nah='git reset --hard;git clean -df'
alias p="phpunit"
alias pf="phpunit --filter "
alias d="php artisan dusk"
alias df="php artisan dusk --filter"
alias sshconfig="vim ~/.ssh/config"

# Git
alias gc="git checkout"
alias gpo="git push origin"
alias gm="git merge"
alias glog="git log"

# List all files colorized in long format
alias l="ls -laF"

# Enable aliases to be sudo’ed
alias sudo='sudo '